<%= form_with(model: tracer) do |form| %>
  <% if tracer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tracer.errors.count, "error") %> prohibited this tracer from being saved:</h2>

      <ul>
        <% tracer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :molecule %>
    <%= form.text_field :molecule %>
  </div>

  <div class="field">
    <%= form.label :halflife %>
    <%= form.text_field :halflife %>
  </div>

  <div class="field">
    <% tracer.color = Tracer::COLORS.first[1] if !tracer.color %>
    <%= form.label :color %>
    <% Tracer::COLORS.map.each do |color| %>
      <%= form.radio_button :color, color[1] %>
      <span class="badge badge-<%= color[0] %>">
        <%= form.label :color, color[1], :value => color[1] %>
      </span>
    <% end %>



  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<hr>