<p id="notice"><%= notice %></p>

<h1>
  <%= image_tag("baseline_category_black_48dp.png", height: "64")%>
  Tracers
</h1>

<p>
  <%= link_to 'New Tracer', new_tracer_path, class: "btn btn-light shadow-lg" %>
</p>

<table class="table table-dark table-hover shadow-lg">
  <thead>
    <tr>
      <th>Name</th>
      <th>Molecule</th>
      <th>Halflife</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracers.each do |tracer| %>
      <tr>
        <td>
          <span class="badge badge-<%= Tracer::COLORS.key(tracer.color) %>">
            <h6><%= tracer.name %></h6>
          </span>
        </td>
        <td><%= tracer.molecule %></td>
        <td><%= tracer.halflife %></td>
        <!-- 
          <td><%= link_to 'Show', tracer, class: "btn btn-light btn-sm" %></td>
        -->
        <td><%= link_to 'Edit', edit_tracer_path(tracer), class: "btn btn-light btn-sm" %></td>
        <td><%= link_to 'Destroy', tracer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'New Tracer', new_tracer_path, class: "btn btn-light shadow-lg" %>
</p>
