<p id="notice"><%= notice %></p>

<h1>
  <%= image_tag("baseline_shopping_cart_black_48dp.png", height: "64")%>
  Commandes
</h1>

<p>
  <%= link_to 'New Commande', new_commande_path, class: "btn btn-light shadow-lg" %>
</p>

<table class="table table-dark table-hover shadow-lg">
  <thead>
    <tr>
      <th>Date</th>
      <th>Client</th>
      <th>Tracer</th>
      <th>Activity</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @commandes %>
  </tbody>

</table>

<%= paginate @commandes %>

<br>

<p>
  <%= link_to 'New Commande', new_commande_path, class: "btn btn-light shadow-lg" %>
</p>