<p id="notice"><%= notice %></p>

<p>
  <strong>Tracer:</strong>
  <%= @commande.tracer_id %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @commande.activity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @commande.date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @commande.client_id %>
</p>

<%= link_to 'Edit', edit_commande_path(@commande) %> |
<%= link_to 'Back', commandes_path %>
