<p id="notice"><%= notice %></p>

<h1>
  <%= image_tag("baseline_science_black_48dp.png", height: "64")%>
  Productions
</h1>


 
  <div class="table-responsive">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          
          <th><a href="#" class="btn btn-dark text-white" role="button">Tracer</a></th>

          <th>
            <a href="<%= productions_path(order: :calibration_time) %>" 
              class="btn <%= (@order == "calibration_time") ? "btn-secondary" : "btn-dark" %> text-white" 
              role="button">
              Calibration Time
            </a>
          </th>

          <th><a href="#" class="btn btn-dark text-white" role="button">Measure</a></th>
          
          <th><a href="#" class="btn btn-dark text-white" role="button">Activity</a></th>

          <th><a href="#" class="btn btn-dark text-white" role="button">Client</a></th>

          <th><a href="#" class="btn btn-dark text-white" role="button">Ref</a></th>
          
          <th colspan="3" style="text-align: right;">
            <% if @order != "created_at" %>
              <a href="<%= productions_path(order: :created_at) %>" 
                class="btn btn-secondary text-white" 
                role="button">
                X
              </a>
            <% end %>
          </th>
        </tr>
      </thead>

      <tbody>
        <%= render @productions %>
      </tbody>
      
    </table>
  </div>
  
  <%= paginate @productions %>

<br>

<%= link_to 'New Production', new_production_path, class: "btn btn-light" %>

