<p id="notice"><%= notice %></p>

<h1>
  <%= image_tag("baseline_science_black_48dp.png", height: "64")%>
  Productions
</h1>


<p>
  <%= link_to 'New Production', new_production_path, class: "btn btn-light shadow-lg" %> 
</p>
  
<div class="table-responsive shadow-lg">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        
        <th>Tracer</th>

        <th>Calibration Time</th>

        <th>Measure</th>
        
        <th>Activity</th>

        <th>Client</th>

        <th>Ref</th>
        
        
      </tr>
    </thead>

    <tbody>
      <%= render @productions %>
    </tbody>
    
  </table>
</div>
  
<%= paginate @productions %>

<br>
<p>
  <%= link_to 'New Production', new_production_path, class: "btn btn-light shadow-lg" %> 
</p>