<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

<div class="container">
  <h1>Productions</h1>

  <div class="container">
    <h2>Hoverable Dark Table</h2>
    <p>The .table-hover class adds a hover effect (grey background color) on table rows:</p>            
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Ref</th>
          <th>Tracer</th>
          <th>Calibration</th>
          <th>Unit</th>
          <th>Time</th>
          <th>Descr</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @productions.each do |production| %>
          <tr>
            <td><%= production.ref %></td>
            <td><%= production.tracer %></td>
            <td><%= production.calibration_value %></td>
            <td><%= production.calibration_unit %></td>
            <td><%= production.calibration_time %></td>
            <td><%= production.description %></td>
            <td><%= link_to 'Show', production, class: "btn btn-light btn-sm" %></td>
            <td><%= link_to 'Edit', edit_production_path(production), class: "btn btn-light btn-sm" %></td>
            <td><%= link_to 'Destroy', production, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Production', new_production_path, class: "btn btn-light" %>

</div>