<div class="col-md-4" >
    <div class="card shadow-lg" >

        <div class="card-header">
            <div class="d-flex justify-content-center align-content-center align-items-center mb-3">
                <h5>
                    <%= client_name %> <small>(Total : <%= @productions[client_id][:total] %>)</small>
                </h5>
            </div>
        </div>

        <div class="card-body">
            <% @tracers.keys.each do |id| %>
                <div class="d-flex">
                    <div class="flex-fill">
                        <span class="badge badge-<%= @tracers[id][:color] %>">
                            <%= @tracers[id][:name] %>
                        </span>
                    </div>
                    <div class="flex-fill">
                        <pre>Total      : <%= @productions[client_id][id] %> </pre>
                    </div>
                </div>
                <hr>
            <% end %>
        </div>

    </div>
</div>